@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);


body {font-family: 'Raleway', sans-serif; font-weight:100;}

h1,h2,h3,h4,h5,h6 {font-family: 'Raleway', sans-serif; font-weight:bold; text-transform:uppercase;}

.top-bar-section li:not(.has-form) a:not(.button),
.contain-to-grid,
.top-bar,
.top-bar-section,
.top-bar-section li,
.top-bar-section li a {
	background: none;
}

.top-bar-container {
	background: rgba(0,0,0,0.4);
	position:fixed;
	z-index:99;
	margin-bottom:0 !important; 
}

.top-bar {
	line-height:1;
	.top-bar-section {
	  height: 2.8125rem;
	    ul li {
		  background:none;
		  a {
		  	font-family: "Raleway";
		  	font-weight: normal;
		  	font-size: 0.8em;
		  }
		}
		ul#menu-navigation-1 li a:hover {
			background:$primary-color !important;
		}
		ul .divider {
		  border-right: solid 1px rgba(255,255,255,0.2);
		  line-height: 4em !important;
		  height: 3.2em;
		}
		ul > [role="separator"] {
		  height: 3.2em;
		}
		.has-dropdown > a::after {
		  margin-top: 0.5px;
		}
		li:not(.has-form) a:not(.button) {
		  line-height: 4em;
		}
	}
	.name {
		margin:0;
		padding:0;
		img {
			margin:0;
		}
	}
	button.fa-search {
		padding:0 1em;
	}
	.ui-sortable {
		margin:12px -10px 0 0 !important;
		z-index: 9999;
		li {
			margin:0;
			padding:0;
		}
	}
	#s,
	.fa-search {
		margin-left:-10px;
	}
	#flags {
		float:none;
	}
}


.tab-bar {
	margin-bottom:-70px !important;
	background: rgba(0,0,0,0.4);
	z-index:999;

	.left-small {
	  border-left: 1px solid rgba(255,255,255,0.1);
	  border-right: 1px solid rgba(255,255,255,0.1);
	  height: 2.8125rem;
	  position: absolute;
	  left: 150px;
	  top: 0;
	  width: 2.8125rem;
	  a {
	  	color:#fff;
	  	margin-left:15px;
	  }
	  a:hover {
	  	color:lighten($primary-color,20%);
	  }
	}
	.search-small {
	  border-right: 1px solid rgba(255,255,255,0.1);
	  height: 2.8125rem;
	  position: absolute;
	  left: 210px;
	  top: 0;
	  width: 2em;
	  a {
	  	color:white;
	  }
	  a:hover {
	  	color:lighten($primary-color,20%);
	  }
	}
	img {
  		margin:0;
  		position:absolute;
  		z-index: 999;
	}
}

#searchModal {
	background: rgba(0,0,0,0.4);
	h2 {
		color: white;
	}
}

.orbit-bullets {
	display:none
}

.homepagetext {
	float:right;
	margin:225px 50px 0 0;
	text-align:right;

	h1 {
		color:#fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
		font-weight: bold;
		font-size: 3em;
		line-height: 1.2em;
		font-weight: normal;
		span {
			font-size: 1.5em;	
			font-weight: bold;		
		}
	}
}

.cta-bg {
	background:rgba(0,0,0,0.4);
	margin-top:-215px;
	position:relative;
	z-index:9999;
}

.cta-box {
	margin:0;
	padding:0 25px 0 25px;
	text-align: center;
	min-height: 215px;
	transition: all 0.5s ease;
	.icon-wrap {
		.glyphicon {
			padding:25px 20px;
			border-radius:70px;
			font-size: 4em;
			margin-top: 0px !important;
			transition: all 0.5s ease;
			text-shadow:1px 1px 1px rgba(0,0,0,0.8);
			color: #fff;
		}
	}
	a,
	h3 {
		color:#fff;
	}
	h3 {
		font-size: 1.2em;
		transition: all 0.5s ease;
		margin:0;
		padding:0;
	}
	h4 {
		font-weight: normal;
		color: rgba(255,255,255,0.8);
		text-transform: none;
		font-size: 0.8em;
		line-height: 1.4em;
	}
}
.cta-box:hover {
	border-bottom:solid 5px darken($primary-color,5%);
	background: rgba(255,255,255,0.2);
	.glyphicon {
		font-size: 4.5em;
	}
}

.home-big-text {
	margin:35px 0;
	h1 {
		font-size:3em;
		a {
			font-weight: bold;
		}
	}
	h2 {
		font-size: 1.6em;
		font-weight: normal;
	}
	.button-group {
		margin:25px 0 0 0;
		a.button.small {
			font-size: 0.75em !important;
			font-family: "Raleway";
		}
	}
}


#post-313 {
	p {
		font-size:0.85em;
	}
	.lazy {
		margin-top:50px;
	}
}

.bx-viewport {
	margin:35px 0;
	blockquote {
	  border-left: none;
	}
	p {
		font-size: 1.3em !important;
	}
}






footer#footer {
	background:#f5f5f5;
	border-top:solid 1px rgba(0,0,0,0.1);
	padding: 30px 0 10px 0;

	h3 {
		font-weight:bold;
		font-size: 1em;
	}

	p {
		font-size: 0.8em;
	}

	ul {
		margin:0;
		padding:0;
		li {
			list-style: none;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			float: left;
			a {
				display: block;
				margin:10px 15px 10px 0;
				font-size: 0.9em;
				margin-bottom: 10px;
				padding:7px 10px;
				font-weight: bold;
				border:solid 1px $primary-color;
				transition: all 0.5s ease;
			}
			a:hover {
				background:$primary-color;
				border:solid 1px $primary-color;
				color: white;
			}
		}
	}

	#nav_menu-2 {
		width:65%;
	}

	#search-3,
	#text-2 {
		width:30%;
		float: right;
	}
}


.page-image {
	width:auto;
	height:220px;
	margin-bottom:35px;
	img {
		width:100%;
		height:100%;
	}
}


#homepage-hero {
  background: url("/wp-content/uploads/2015/03/los_angeles3.png") no-repeat bottom center #074e68;
  height: auto;
  padding: 100px 0 30px 0;
  position: relative;
  text-align: left;
  margin:0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

#sidebar {

	h6 {
		background:$primary-color;
		color: white;
		padding:10px;
		margin:0;
	}

	#text-3 {
		.textwidget {
			background:#f9f9f9;
			border:solid 1px rgba(0,0,0,0.1);
			padding:20px;
			font-size: 0.8em;
			p {
				font-size: 1em;
			}
			h4 {
				margin-bottom: 20px;
				font-weight: bold;
			}
		}
	}
}


@media #{$medium-only} { 

	.cta-bg {
	  margin-top:0;
	}



}

@media #{$small-only} { 

	.cta-bg {
	  margin-top:0;
	}

	.button-group.even-6 li {
		width: 100% !important;
	}

	footer {
		.small-12 {
			width: 100% !important;
			margin-bottom: 15px;
		}
	}

	.homepagetext {
		float:none;
		text-align:center;
		margin:120px auto 0 auto;

		h1 {
			font-size: 1.8em;
			line-height: 1.2em;
			span {
				font-size: 1.3em;		
			}
		}
	}

}